
.background {
  background-color: #f2f2f2;
}

.content {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 30px;
  color: #454545;
}

.container.footer {
  font-weight: normal;
  background-color: black;
  color: white;
}

.location {
  font-size: 1em;
}

.header {
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 5px;
  padding-bottom: 15px;
}

.survey {
  padding-top: 20px;
}

.container {
  font-weight: 700;
  margin: 15px 5px 15px 5px;
  padding: 1px 8px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 2px; /* 2px rounded corners */
  transition: 0.3s;
}