.background {
    background-color: #f2f2f2;
  }
  .content {
      font-family: 'Roboto', sans-serif;
      font-size: 1em;
      max-width: 700px;
      margin: 0 auto;
      padding-top: 30px;
      font-weight: 700;
  }
  
  .footer {
    padding-top: 20px;
    padding-bottom: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 5px;
  }
  
  .header {
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 5px;
  }
  
  .title {
    color: red;
  }
  
  .anchors {
    font-size: 2em;
    padding-left: 25px;
  }
  
  p {
  
    padding-left: 20px;
  }
  
  .cards {
    font-weight: 700;
    margin-left: 5px;
    margin-right: 5px;
    padding: 1px 8px;
    margin-top: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 2px; /* 5px rounded corners */
  }